
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LabTech Dashboard</title>
     <link rel="stylesheet" href="/css/staff.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>
    
          <script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>
          <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
          
          
          </head>
          
          <body>
            <%- include('./labTech_includeFolder/navBar') %>
            <%- include('./labTech_includeFolder/sideBar') %>
           
           
          
    
    
    
            <%- include('./labTech_includeFolder/appointment') %>

     
        <div class="container wrap-table card-rec">
          <div class="resolve-complaint">
            <span  class="h4">
              Patients Cards Records
            </span>
            <input type="text" id="customSearchBox" class="form-control custom-search-input" placeholder="Search...">
        </div>
           
          <table  >
            <thead>
              <tr>
                <th>S/N</th>
                <th>Candidate Name</th>
                <th>Phone Number</th>
                <th>Card Number</th>
                <th>Amount</th>
                <th>Expiration Date</th>
                <th>Purchased Date</th>
                <th style="border: 1px solid;">View</th>
              </tr>
            </thead>
            <tbody>
              <% datas.forEach((item, index) => { %>
                <tr class="tr-body">
                  <td><%= (currentPage - 1) * limit + index + 1 %></td>
                  <td><%= item.fName? item.fName:'no data' %></td>
                  <td><%= item.patient.phone_no?item.patient.phone_no:'no data' %></td>
                  <td><%= item.paymentReference?item.paymentReference:'no data' %></td>
                  <td>NGN<%= item.amount?item.amount:'no data' %></td>
                  <td><%= item.expiration_date? new Date(item.expiration_date).toLocaleDateString('en-US') : 'coming' %></td>
                  <td><%= item.purchase_date ? new Date(item. purchase_date).toLocaleDateString('en-US') : 'coming' %></td>
                  <td style="border: 1px solid;">
                    <a href="/labTechs/fill/card?id=<%=item._id ||'no data' %>" ><i class="fa-solid fa-eye" style="color: darkorange;font-size: x-large;" ></i>fill</a>
                  </td>
                     </tr>
              <% }); %>
            </tbody>
            </table>

          </div>

    </div>
    </div>
   
    <!-- jQuery library -->
    <script src="/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
  
    <script src="/js/userDashBord.js"></script>
    <script src="/js/labTech.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
          document.getElementById("mySidenav").style.height = "40%";
          document.getElementById("main").classList.add("open"); // Add class to push down
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").classList.remove("open"); // Remove class to return to original position
        }
        </script> 
</body>
</html>
